*{
margin:0;
padding:0;
text-decoration: none;
border-bottom: none;
background: transparent;
list-style: none;
}






header{
width: 1440px;
height: 35px;
background: #03341C;   
}

.msg-global{
margin-right: 5px;
}

.mensagem-global{
display: flex;
justify-content: center;
align-items: center;
color: aliceblue;
font-size: 13px;

}

.tel-contato{
color:#FFB31A;
font-size: 14px;
padding: 5px;
}


.menu{
width: 1440px;
height: 87px;
background: #006E3E;    
align-items: center;
display: flex;
justify-content: space-evenly;
}





.menu-mobile-icon{
    display: none;
}

.menu-mobile{
    display: none;
}

ul, li{
display: flex;
align-items: center;
margin-right: 20px;
color: aliceblue;    
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
cursor: pointer;
}


ul:hover{
box-sizing: border-box;     
display: flex;    
align-items: flex-end;
padding: 10px;
width: auto;
height: 40px;    
border: 1px solid #FFD012;
border-radius: 4px;   
 
}



.area-cliente{
display: flex;
}






.btn-area-cliente{
margin-left: 5px;
margin-right: 5px;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 150%;
color: #FFFFFF;
cursor: pointer;
border-bottom: transparent;
border: none;
}

.btn-area-cliente:hover{
   background: #fcfbfa;
   color: #006E3E;
   border-radius: 3px;
   border: none;
   
}

body{
font-family: 'Poppins', sans-serif;
    
}


.primeira-section{
width: 1440px;
left: 0;
right: 0;
}


.titulo{
position: absolute;
width: 538px;
height: 109px;
left: 212px;
top: 193px; 
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 125%;
color: #3B454F;
    
}

.p1{
    position: absolute;
    width: 378px;
    height: 83px;
    left: 212px;
    top: 557px;
    color: aliceblue;

}


.btn-cotação{
display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 8px;    
    position: absolute;
    width: 242px;
    height: 52px;
    left: 212px;
    top: 672px;      
    background: #33794A;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 132.312px;
    color: aliceblue;    
    font-style: normal;
    font-weight: 700;
    font-size: 19.0721px;
    line-height: 150%;
    cursor: pointer;
    border: none;
}




.section-02{
display: flex;
align-items: center;
background: #F5F5F5;

width: 1440px;
height: 719px;
}

.backgroud01-mobile{
display: none;
}



.titulo-section02{
    position: absolute;
    width: 454px;
    height: 94px;
    left: 814px;
    top: 909px;      
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;    
    text-align: center;    
    color: #3B454F;


}

.numeros{
padding-right: 10px;
}

.plan-person1{
    
display: flex;
align-items: baseline;
position: absolute;
width: 467.92px;
height: 31.2px;
left: 815.08px;
top: 1026.8px;
color: #3B454F;

   
}

.plan-person2{
    
display: flex;
align-items: baseline;
position: absolute;
width: 467.52px;
height: 30.16px;
left: 815.48px;
top: 1101.16px;
color: #3B454F;


}

.plan-person3{
display: flex;
align-items: baseline;
position: absolute;
width: 467.32px;
height: 53px;
left: 815.68px;
top: 1175px;
color: #3B454F;

        
}
    
.icon-card{
margin-top: 50px;
}
.btn-cotacao-02{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 8px;    
    position: absolute;
    width: 242px;
    height: 52px;
    left: 928px;
    top: 1354px;    
    background: #33794A;    
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 132.312px;
    font-style: normal;
font-weight: 700;
font-size: 19.0721px;
line-height: 150%;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
cursor: pointer;
border: none;
}

.img-pc-mobile{
    display: none;
}

.text-section2{
    position: absolute;
    width: 469px;
    height: 54px;
    left: 814px;
    top: 1260px;    
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #83AF38;


}


.cards-planos{
display: flex;
flex-direction: row;
justify-content: space-between;
text-align: center;
gap: 30px;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* or 21px */

text-align: center;

/* Gray 5 */

color: #737D86;


}


.p-morte{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;     
    text-align: center; 
    
    color: #33794A;
}

.btn-saiba{
width: 95.31px;
height: 36.03px;
background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), #60C742;
border-radius: 90.8976px;
flex: none;
order: 3;
flex-grow: 0;
font-style: normal;
font-weight: 700;
font-size: 9.82677px;
line-height: 150%;
color: #33794A;
border: none;
}

.img-pc{
    margin-left: 100px;
}

.section-03{
    position: absolute;
    width: 1440px;
    height: 712px;
    left: 0px;
    top: 1536px;    
    background: #F8F8F8;

}


.titulo-section-03{

    position: absolute;
    width: 373px;
    height: 45px;
    left: 533px;
    top: 25px;    
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;      
    text-align: center;    
    color: #3B454F;
    
}


.text-section-03{
    position: absolute;
    width: 400px;
    height: 25px;
    left: 520px;
    top: 100px;     
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #3B454F;


}



.card-beneficios{
display: flex;
align-items: center;
flex-direction: column;
justify-content: space-around;
}


.card-1{
    
display: flex;
flex-direction: column;
align-items: center;
align-self:center ;
position: absolute;
width: 328px;
height: 287px;
top: 170px;
background: #FFFFFF;
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
border-radius: 8px;
left: 212px;

}


.card-2{

display: flex;
flex-direction: column;
align-items: center;
position: absolute;
width: 328px;
height: 287px;
top: 170px;;
background: #FFFFFF;
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
border-radius: 8px;

left: 560px;

}

.card-3{
position: absolute;
display: flex;
flex-direction: column;
align-items: center;
width: 328px;
height: 287px;
top: 170px;
background: #FFFFFF;
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
border-radius: 8px;
right:212px;

    
}

.btn-cotacao-03{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 8px;    
    position: absolute;
    width: 231.22px;
    height: 52.45px;
    left: 605px;
    top: 600px;
background: #33794A;
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
border-radius: 132.312px;
font-style: normal;
font-weight: 700;
font-size: 19.0721px;
line-height: 150%;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
cursor: pointer;
border: none;


}



.section-04{

display: flex;

}

.titulo-section-04{
 position: absolute;
width: 666px;
height: 54px;
left: 387px;
top: 2264px;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 150%;
text-align: center;
color: #3B454F;

}


.duvida01{
position: absolute;
width: 130px;
height: 17px;
left: 160px;
top: 2386px;      
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;     
color: #3B454F;
}


.txt-duvida01{
    
    position: absolute;
    width: 396px;
    height: 149px;   
    
    top: 44px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
   
    
    color: #3B454F;
    



}

.duvida02{
position: absolute;
width: 277px;
height: 17px;
left: 160px;
top: 2603px;

font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
color: #3B454F;
    
}


.duvida03{
    position: absolute;
    width: 363px;
    height: 20px;
    left: 160px;
    top: 2663px;    
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%; 
    
    color: #3B454F;
    
    
}

.duvida04{

    position: absolute;
    width: 277px;
    height: 17px;
    left: 160px;
    top: 2722px;
    
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */
    
    
    /* Gray 7 */
    
    color: #3B454F;
    

    
}


.duvida05{
    position: absolute;
width: 344px;
height: 17px;
left: 160px;
top: 2780px;


font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
color: #3B454F;
}




.img-section04{
position: absolute;
width: 499px;
height: 262px;
left: 790px;
top: 2391px;
border-radius: 131px;

}

.btn-cotacao-04{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 8px;    
    position: absolute;
    width: 231.22px;
    height: 52.45px;
    left: 605px;
    top: 2721px;     
    background: #33794A;    
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 132.312px;   
    font-style: normal;
    font-weight: 700;
    font-size: 19.0721px;
    line-height: 150%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
border: none;

}

hr{
width: 400px;
}

.section-05{
position: absolute;
width: 100%;
height: 612px;
left: 0px;
top: 2897px;
    

}



.titulo-section-05{
    position: absolute;
    width: 414px;
    height: 111px;
    left: 177px;
    top: 100px;      
    
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    color: #3B454F;

}



.sub-titulo-section-05{

    position: absolute;
    width: 462px;
    height: 64px;
    left: 918px;
    top: 100px;
    
    
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;    
    text-align: center;     
    color: #3B454F;
    



}





.img-section-05{

    position: absolute;
    width: 1440px;
    height: 612px;
    left: 0px;
    
    

}

.phone{
align-items: center;
display: flex;
position: absolute;
width: 241.82px;
height: 36px;
left: 1028px;
top: 170px;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 150%;
text-align: center;
color: #83AF38;


}


.btn-wthas{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8.17428px 24.5228px;
    gap: 2.05px;    
    position: absolute;
    width: 349.62px;
    height: 41px;
    left: 974px;
    top: 300px;    
    background: #33794A;    
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 87.8735px;
    cursor: pointer;    
    }


    .btn-wthas1{
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;        
        text-align: center;      
        border: none;        
        color: #FFFFFF;
      cursor: pointer;
    }

    .img-section-05-mobile{

    display: none;
    }


    .horario{
    position: absolute;
    height: 22px;
    right: 10px;
    bottom: 10px;

    }